@import "/styles/variables";

.features {
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  //background: linear-gradient(#ffbc6d, #ffbc6d) 50% 50%/calc(100% - 18px) calc(100% - 18px) no-repeat,            linear-gradient(transparent 0%, #000000 0%, #ffbc6d 0%, rgba(0, 0, 0, 0.298) 51%, rgba(0,0,0,0.57) 97%);
  background: linear-gradient(180deg, rgba(246, 189, 121, 1) 80%, rgba(255, 138, 0, 0) 120%) no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 18px) calc(100% - 18px) no-repeat,
  linear-gradient(0deg, rgba(0, 0, 0, 0.57) 0%, transparent 100%);

  //background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 18px) calc(100% - 18px) no-repeat,
  //linear-gradient(0deg, rgba(0,0,0,0.57) 0%, transparent 100%);


  @media (min-width: $media-screen-notebook) {
    height: 550px;
  }
}

.featuresItems {
  display: flex;
  flex-flow: column nowrap;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $media-screen-notebook) {
    flex-flow: row nowrap;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    padding: 70px 100px;
  }
}

.featuresItem {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  align-self: flex-start;
  margin-bottom: -30px;

  @media (min-width: $media-screen-notebook) {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 45px;
    margin-bottom: 0;
  }

  &:nth-child(even) {
    margin-left: -40px;

    @media (min-width: $media-screen-notebook) {
      margin-left: 0;
    }
  };

  &:nth-child(odd) {
    align-self: flex-end;
  }

  .image {
    width: 30%;
    height: auto;
    border: 5px solid #000;

    @media (min-width: $media-screen-notebook) {
      width: 60%;
    }
  }

  .name {
    font-size: 25px;
    text-shadow: 1px 0 1px #fff,
    0 1px 1px #fff,
    -1px 0 1px #fff,
    0 -1px 1px #fff;
    margin-top: 20px;

    @media (min-width: $media-screen-notebook) {
     font-size: 30px;
    }
  }
}