@import "styles/variables";

.popup {
  max-width: 426px;
  width: 100vw;
  height: 469px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @media (min-width: $media-screen-notebook) {
    width: 529px;
    max-width: 529px;
    height: 335px;
    padding-bottom: 20px;
  }
}


.title {
  margin-top: 50px;
  font-size: 32px;
}


.error {
  color: #d2001e;
  font-size: 22px;
  margin-top: 10px;
  opacity: 0;
  transition: opacity .2s linear;

  &.active {
    opacity: 1;
  }
}

.buttons {
  display: flex;
  margin-top: 35px;
  flex-flow: column nowrap;

  @media (min-width: $media-screen-notebook) {
    margin-top: 15px;
    margin-top: auto;
    flex-flow: row nowrap;
  }
}

.counter {
  width: 220px;
  height: 100px;
  margin-right: 15px;
  background-color: #EF884E;
  border: 4px solid #9C8060;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-size: 32px;
  position: relative;
  margin-bottom: 70px;

  @media (min-width: $media-screen-notebook) {
    margin-bottom: 0;
  }

  &:after {
    content: 'enter amount';
    font-size: 32px;
    position: absolute;
    bottom: -45%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
  }

  .plus,
  .minus {
    padding: 0 10px;
    cursor: pointer;
  }
}

.button {
  height: 100px;
  width: 220px;
  background-color: #B0D28E;
  display: flex;
  border: 4px solid #9C8060;

  &.loading,
  &.errorBtn {
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 0;
    align-items: center;
  }

  &.errorBtn {
    background-color: #FF4F6F;

    &:hover {
      background-color: #FF8282;
    }
  }

  &.disabled {
    cursor: default;
    filter: grayscale(100%);
    pointer-events: none;
  }

  &:hover {
    background-color: #C3FF87;
  }

  &:active,
  &.active {
    background-color: #739650;
  }

  .text {
    font-size: 32px;
    line-height: 45px;
    margin: auto;
  }
}

.available {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 15px;

  @media (min-width: $media-screen-notebook) {
    margin-top: 50px;

  }
}
