.popup {
  width: 529px;
  height: 335px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


.title {
  margin-top: 50px;
  font-size: 32px;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 50px;
}

.counter {
  width: 220px;
  height: 100px;
  margin-right: 15px;
  background-color: #EF884E;
  border: 4px solid #9C8060;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-size: 32px;
  position: relative;

  &:after {
    content: 'enter amount';
    font-size: 32px;
    position: absolute;
    bottom: -45%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
  }

  .plus,
  .minus {
    padding: 0 10px;
    cursor: pointer;
  }
}


.button {
  height: 100px;
  width: 220px;
  background-color: #B0D28E;
  display: flex;
  border: 4px solid #9C8060;

  &.loading,
  &.error {
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 0;
    align-items: center;
  }

  &.error {
    background-color: #FF4F6F;

    &:hover {
      background-color: #FF8282;
    }
  }

  &.disabled {
    cursor: default;
    filter: grayscale(100%);
    pointer-events: none;
  }

  &:hover {
    background-color: #C3FF87;
  }

  &:active,
  &.active {
    background-color: #739650;
  }

  .text {
    font-size: 32px;
    line-height: 45px;
    margin: auto;
  }
}

.available {
  font-size: 20px;
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.5);
}