@import "styles/variables";

.popup {
  width: 100%;
  max-width: 426px;
  height: 395px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  //justify-content: center;

  @media (min-width: $media-screen-notebook) {
    width: 529px;
    max-width: 529px;
    height: 385px;
  }
}

.title {
  margin-top: 40px;
  font-size: 32px;
}

.buttons {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 35px;
}

.button {
  height: 100px;
  width: 220px;
  background-color: #B0D28E;
  display: flex;
  border: 4px solid #9C8060;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
  
  &:hover {
    background-color: #C3FF87;
  }

  &:active,
  &.active {
    background-color: #739650;
  }

  .text {
    font-size: 32px;
    line-height: 45px;
    margin: auto;
  }
}
