@import "styles/variables";

.popup {
  width: 100%;
  max-width: 426px;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 30px;
  //justify-content: center;

  @media (min-width: $media-screen-notebook) {
    width: 550px;
    max-width: 550px;
    height: 455px;
  }
}

.title {
  margin-top: 40px;
  font-size: 32px;
}

.buttons {
  display: flex;
  //flex-flow: column nowrap;
  flex-flow: row wrap;
  //justify-content: space-between;
  //align-items: center;
  margin-top: 20px;
  max-width: 470px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.button {
  height: 100px;
  width: 220px;
  background-color: #B0D28E;
  display: flex;
  border: 4px solid #9C8060;
  margin-bottom: 15px;


  @media (min-width: $media-screen-notebook) {
    &:nth-child(2),
    &:nth-child(4) {
      margin-left: 20px;
    }
  }


  &:last-child {
    margin-bottom: 0;
  }
  
  &:hover {
    background-color: #C3FF87;
  }

  &:active,
  &.active {
    background-color: #739650;
  }



  .text {
    font-size: 32px;
    line-height: 45px;
    margin: auto;
  }
}
