@import '/styles/variables';

.socialLinks {
  display: flex;
  //width: 280px;
  width: 100%;
  //justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;


  @media (min-width: $media-screen-notebook) {
    margin-top: 0;
  }

  .item {
    font-size: 22px;

    &:last-child {
      margin-left: 60px;
    }
  }
}