@import '/styles/variables';
@import '/styles/mixins';

.options {
    display: flex;
    flex-flow: column;
    align-items: center;
    //margin-top: 30px;

    @media (min-width: $media-screen-notebook) {
        background: url("/images/background-options.png") no-repeat 100% 100% / cover;
        padding-bottom: 65px;
        padding-top: 150px;
        margin-top: -150px;
    }
}

@keyframes switchColors {
    0% {
        color: #97D746;
    }

    17% {
        color: #FF7A7A;
    }

    34% {
        color: #0BDFB9;
    }

    51% {
        color: #558EE4;
    }

    68% {
        color: #B46EEB;
    }

    85% {
        color: #0BDFB9;
    }

    100% {
        color: #FF2156;
    }
}

.title {
    text-align: center;
    font-size: 45px;
    width: 80%;
    margin: 0 auto;
    @include stroke(rgba(255, 255, 255, 0.5), 4px);
    line-height: 65px;

    .mark {
        animation: switchColors 3s linear infinite;
    }

    @media (min-width: $media-screen-notebook) {
        line-height: 75px;
        font-size: 65px;
        width: 1000px;
    }
}

.optionsItems {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 40px auto 0;

    @media (min-width: $media-screen-notebook) {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 5px auto 0;
    }
}

.optionsItem {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
    position: relative;

    &:nth-child(1) {
        .image {
            width: 202px;
            height: auto;
            margin-bottom: 5px;
            mask-image: url('/images/option-1.png')
            //border: 5px solid #000;
        }
    }

    @media (min-width: $media-screen-notebook) {
        margin-bottom: 0;
        height: 480px;

        &:last-child {
            margin-left: 234px;
        }
    }

    &:after {
        content: 'or';
        font-size: 65px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -140px;
        @include stroke(#fff, 4px);
        display: none;

        @media (min-width: $media-screen-notebook) {
            left: auto;
            bottom: auto;
            transform: none;
            right: -150px;
            top: 95px;
            display: flex;
        }
    }

    &:last-child:after {
        display: none;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.imageWrapper {
    position: relative;
    //width: 240px;
    //height: 260px;
    width: auto;
    height: auto;
    margin: 0 auto;
    //border: 5px solid #000;
    //z-index: -1;
    z-index: 1000;

    .image {
        width: 100%;
        height: 100%;
    }
}

.name {
    @include stroke(#fff, 4px);
    font-size: 40px;
    //margin-top: -25px;
    margin-top: 5px;
}

.description {
    font-size: 27px;
    line-height: 21px;
    width: 240px;
    margin: 20px auto 0;

    @media (min-width: $media-screen-notebook) {
        margin-top: 25px;
        font-size: 32px;
        line-height: 30px;
        width: 230px;
    }
}

.info {
    font-size: 20px;
    margin-top: 40px;

    @media (min-width: $media-screen-notebook) {
        margin-top: 70px;
    }
}

.button {
    width: 240px;
    height: 60px;
    display: flex;
    margin-top: 45px;
    box-shadow: 6px 6px 0 #58473D;
    position: relative;
    background-color: #FAB48D;

    @media (min-width: $media-screen-notebook) {
        margin-top: auto;
    }

    &:hover {
        box-shadow: 8px 8px 0 #58473D;
        background-color: darken(#FAB48D, 7) !important;
    }

    &.red {
        background-color: #FF5C5C;

        &:hover {
            background-color: #FF8282 !important;
        }
    }

    .text {
        font-size: 32px;
        margin: auto;
    }

    &.inactive {
        //filter: grayscale(100%);
        background-color: #949494;
        cursor: default;
    }

    .timer {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -60%;
        font-size: 22px;
        z-index: -1;
        color: rgba(0, 0, 0, 0.55);
    }

    .comingSoon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -60%;
        font-size: 22px;
        z-index: -1;
        color: rgba(0, 0, 0, 0.55);
    }
}

.svgElement {
    z-index: 1000;
}


.section {
    &1 {
        transition: fill .1s linear;
        &:hover {
            fill: #E879F9;
        }
    }

    &2 {
        transition: fill .1s linear;
        &:hover {
            fill: #F0ABFC;
        }
    }

    &3 {
        transition: fill .1s linear;
        &:hover {

            fill: #C026D3;
        }
    }

    &4 {
        transition: fill .1s linear;
        &:hover {
            fill: #D946EF;
        }
    }

    &5 {
        transition: fill .1s linear;
        &:hover {
            fill: #F0ABFC;
        }
    }

    &6 {
        transition: fill .1s linear;
        &:hover {
            fill: #A21CAF;
        }
    }

    &7 {
        transition: fill .1s linear;
        &:hover {
            fill: #D946EF;
        }
    }

    &8 {
        transition: fill .1s linear;
        &:hover {
            fill: #F5D0FE;
        }
    }

    &9 {
        transition: fill .1s linear;
        &:hover {
            fill: #FAE8FF;
        }
    }

    &10 {
        transition: fill .1s linear;
        &:hover {
            fill: #701A75;
        }
    }

    &11 {
        transition: fill .1s linear;
        &:hover {
            fill: #86198F;
        }
    }


    //&1 {
    //    fill: red;
    //}
    //
    //&2 {
    //    fill: blue;
    //}
    //
    //&3 {
    //    fill: black;
    //}
    //
    //&4 {
    //    fill: yellow;
    //}
    //
    //&5 {
    //    fill: green;
    //}
    //
    //&6 {
    //    fill: cyan;
    //}
    //
    //&7 {
    //    fill: #b000b0;
    //}
    //&8 {
    //    fill: deeppink;
    //}
    //&9 {
    //    fill: #EF884E;
    //}
    //
    //&10 {
    //    fill: slateblue;
    //}
    //
    //&11 {
    //    fill: darkblue;
    //}


}