@import "/styles/variables";

.footer {
  margin: 150px auto 30px;
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;


  @media (min-width: $media-screen-notebook) {
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-bottom: 80px;
  }
}

.logo {
  width: 90px;
  height: 84px;
  margin-top: 40px;

  @media (min-width: $media-screen-notebook) {
    margin-top: 0;
  }

  &:first-child {
    display: none;

    @media (min-width: $media-screen-notebook) {
      display: flex;
    }
  }
}

.links {
  margin-top: 0;
}

.link {
  font-size: 32px !important;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.description {
  font-size: 15px;
  margin-top: 15px;
}