@import "/styles/variables";

.content {
  //margin: 80px 35px 0;
  margin: 80px auto 0;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;

  @media (min-width: $media-screen-notebook) {
    flex-flow: row nowrap;
    margin: 130px auto 0;
    width: 1000px;
    //width: 70%;
    justify-content: space-between;
  }
}

.poster {
  position: relative;
  width: auto;
  display: flex;
  margin: 0 auto;


  .image {
    width: 263px;
    height: auto;
    margin-left: 90px;
    margin-top: 140px;
    border: 5px solid #000;

    @media (min-width: $media-screen-notebook) {
      background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 20px) no-repeat, linear-gradient(130deg, #ffb800 0%, rgba(0, 0, 0, 0.5) 63%, #ffb800 68%);
      border-radius: 0;
      padding: 20px;
      box-sizing: content-box;
      border: none;
      width: 383px;
      height: 423px;
    }
  }

  .text {
    font-size: 160px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 120px;
    font-weight: 300;
    text-shadow: 4px 0 4px #fff,
    0 4px 4px #fff,
    -4px 0 4px #fff,
    0 -4px 4px #fff;

    @media (min-width: $media-screen-notebook) {
      text-shadow: 4px 0 4px #fff,
      0 4px 4px #fff,
      -4px 0 4px #fff,
      0 -4px 4px #fff,
      8px 8px 15px #A86F00;
      font-size: 190px;
      line-height: 150px;
      letter-spacing: 13px;
      left: 40px;
      top: 30px;
    }
  }
}

.info {
  margin: 130px auto 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @media (min-width: $media-screen-notebook) {
    width: auto;
    margin-left: 70px;
    align-items: flex-end;
  }

  .description {
    margin: 0 auto;
    font-size: 30px;
    width: 340px;
    line-height: 45px;
    //-webkit-text-stroke: 0.3px #fff;
    text-align: center;

    text-shadow: 1px 0 1px #fff,
    0 1px 1px #fff,
    -1px 0 1px #fff,
    0 -1px 1px #fff;

    @media (min-width: $media-screen-notebook) {
      font-size: 47px;
      text-align: right;
      width: auto;
    }
  }

  .dogechain {
    width: 422px;
    height: auto;
    margin: 35px auto 0;

    @media (min-width: $media-screen-notebook) {
      margin-top: 45px;
    }
  }

  .wrapperButton {
    position: relative;
    margin: 120px auto 0;

    @media (min-width: $media-screen-notebook) {
      margin: 75px 0 0;
    }

    .image {
      position: absolute;
      z-index: -1;
      top: -60px;
      right: 0;

      @media (min-width: $media-screen-notebook) {
        top: 15px;
        right: 15px;
      }
    }
  }

  .button {
    width: 320px;
    height: 57px;
    font-size: 32px;
    background-color: #A88C7D;
    
    &:hover {
      background-color: #FF8282;
    }

    &:active,
    &.active {
      background-color: #FF0505;
    }

    @media (min-width: $media-screen-notebook) {
      background-color: #FF5C5C;
      border: 5px solid #FFB800;
      width: 343px;
      height: 75px;
      margin: 75px 0 0;
    }
  }
}