@import "/styles/variables";

.wrapper {
  position: relative;
  //margin-top: 100px;
  margin-top: -280px;
  height: 470px;
  width: 100%;
  overflow: hidden;
  //margin-bottom: -150px;

  @media (max-width: $media-screen-notebook - 1) {
    height: auto;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}


.containerCarousel {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  line-height: 0;
  font-size: 0;

  //@media (min-width: $media-screen-notebook) {
  //  overflow: hidden;
  //}

  &:hover {
    & * {
      animation-play-state: paused;
    }
  }
}

.image {
  background: url('/images/carousel-6.png') repeat-x 100% / contain;
  height: 197px;
  vertical-align: top;
  display: block;
  float: left;
  //min-width: 10346px;
  min-width: 10376px;
  animation: slide 70s linear infinite;
  margin-bottom: -100px;

  &.secondImage {
    opacity: 1;
    margin-left: -2px;
  }

  @media (min-width: $media-screen-notebook) {
    height: 286px;
  }
}
