@import "/styles/variables";

.wrapper {
  position: relative;
  margin-top: 170px;
  height: 470px;
  width: 100%;
  overflow: hidden;

  @media (max-width: $media-screen-notebook - 1) {
    height: auto;
    margin-top: 30px;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}


.containerCarousel {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  line-height: 0;
  font-size: 0;

  //&:hover {
  //  & * {
  //    animation-play-state: paused;
  //  }
  //}
}

.image {
  background: url('/images/carousel-6.png') repeat-x 100% / contain;
  height: 286px;

  vertical-align: top;
  display: block;
  float: left;


  //min-width: 3472px;
  //min-width: 9444px;
  //min-width: 9364px;
  min-width: 10346px;
  animation: slide 70s linear infinite;
  //opacity: 0;

 // 10 346
  &.secondImage {
    opacity: 1;
    margin-left: -2px;
    //min-width: 9364px;
  }

  @media (max-width: $media-screen-notebook - 1) {
    display: none;
  }
}
