@import "styles/variables";

.ring {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: auto;
    //border: 2px solid rgba(31, 30, 30, 0.808);
    //border-radius: 100%;
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 100ms;
    transition-duration: 50ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    will-change: width, height, transform, border;
    z-index: 999;
    pointer-events: none;
    display: none;

    @media (min-width: $media-screen-notebook) {
        display: flex;
    }


    &:nth-child(1) {
        transition-duration: 10ms;
    }

    &:nth-child(2) {
        transition-duration: 55ms;
    }

    &:nth-child(3) {
        transition-duration: 160ms;
    }
}


.dot {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: auto;
    //background-color: black;
    //border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
}