@import '/styles/variables';

.header {
  display: flex;
  flex-flow: row wrap;
  margin: 70px 40px 0;
  justify-content: space-between;
  align-items: flex-start;


  @media (min-width: $media-screen-notebook) {
    flex-flow: row nowrap;
    align-items: center;
    margin: 70px 100px 0;
  }
}

.logo {
  display: flex;
  flex-flow: row nowrap;


  .image {
    width: 100px;
    height: 80px;
    //transform: scale(2.3);
    //display: none;

    @media (min-width: $media-screen-notebook) {
      display: block;
    }
  }

  .text {
    font-size: 35px;
    line-height: 31px;
    text-transform: uppercase;
    margin-left: 10px;
  }
}